<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:security="http://www.springframework.org/schema/security"
    xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.2.xsd
		">

	<context:component-scan base-package="es.uned.grc.pfc.meteo.server" />
    
    <task:annotation-driven executor="stationExecutor" scheduler="stationScheduler"/>
    <task:executor id="stationExecutor" pool-size="5"/>
    <task:scheduler id="stationScheduler" pool-size="10"/>
    	
    <import resource="applicationContext-beans.xml"/>
	<import resource="applicationContext-persistence.xml"/>
    <import resource="applicationContext-security.xml"/>
</beans>